dist: trusty
sudo: false

language: node_js
node_js:
  - "10"

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

cache:
  directories:
     - ./node_modules

install:
  - yarn global add codecov
  - yarn install

script:
  - yarn test_lib --no-watch --no-progress --code-coverage --browsers=ChromeHeadlessCI
  - codecov
