<form>
  <div class="form-group">
    <label>Test</label>
    <show-hide-password size="sm">
      <input type="text" name="password" placeholder="Password" autocomplete="new-password" value="test test test">
    </show-hide-password>
  </div>

  <div class="form-group">
    <label>Test</label>
    <show-hide-password size="lg" [btnOutline]="false">
      <input type="password" name="password" placeholder="Password" autocomplete="new-password" value="test test test">
    </show-hide-password>
  </div>

  <div class="form-group">
    <label>Test</label>
    <show-hide-password size="sm" btnStyle="primary">
      <input type="password" name="password" placeholder="Password" autocomplete="new-password">
    </show-hide-password>
  </div>

  <div class="form-group">
    <label>Test</label>
    <show-hide-password size="lg" btnStyle="primary" [btnOutline]="false">
      <input type="text" name="password" placeholder="Password" autocomplete="new-password">
    </show-hide-password>
  </div>
</form>
