<form>
  <div class="form-group">
    <label>Test</label>
    <show-hide-password size="sm">
      <input type="text" name="password" placeholder="Password" autocomplete="new-password" value="test test test">
    </show-hide-password>
  </div>

  <div class="form-group">
    <label>Test</label>
    <show-hide-password size="lg" [btnOutline]="false">
      <input type="password" name="password" placeholder="Password" autocomplete="new-password" value="test test test">
    </show-hide-password>
  </div>

  <div class="form-group">
    <label>Test</label>
    <show-hide-password size="sm" btnStyle="primary">
      <input type="password" name="password" placeholder="Password" autocomplete="new-password">
    </show-hide-password>
  </div>

  <div class="form-group">
    <label>Test with directive. start as password input</label>
    <div class="input-group input-group-sm">
      <input class="form-control" type="text" name="password" placeholder="Password" autocomplete="new-password" value="asdasda"
        showHideInput>
      <div class="input-group-append ngx-show-hide-password">
        <button class="btn btn-outline-primary" type="button" showHideTrigger>
          <i class="fas" [showHideStatus]="{show: 'fa-eye', hide: 'fa-eye-slash'}"></i>
        </button>
      </div>
    </div>
  </div>

</form>
